body {
    font-family: Arial, sans-serif;
    background: #b7b99d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: rgb(58, 88, 153);
    font-size: 3em;
    font-family: 'Georgia', serif;
}

#controls {
    width: 100%;
    display: flex;
    justify-content: space-around; /* Distribuisce lo spazio tra i controlli */
    margin-bottom: 10px;
}

#countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.country {
    border: 1px solid #000;
    border-radius: 10px; /* Bordo arrotondato */
    margin: 10px;
    padding: 10px;
    width: 200px; /* Aggiunge una larghezza fissa per ogni contenitore di paese */
    text-align: center; /* Centra il testo e l'immagine */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiunge una transizione per la trasformazione e l'ombra */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra che da l'impressione di essere sopra rispetto allo sfondo */
    background: #bdbaae; /* Sfondo della card */
}

.country:hover {
    transform: scale(1.05); /* Aumenta le dimensioni del contenitore del paese quando il mouse passa sopra */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Aumenta l'ombra quando il mouse passa sopra */
}

.country img {
    width: 100%; /* Fa in modo che l'immagine si estenda fino ai bordi */
    height: 150px; /* Imposta un'altezza fissa per l'immagine */
    object-fit: cover; /* Fa in modo che l'immagine copra l'intera area */
}

.details {
    padding: 1px; /* Aggiunge un padding ai dettagli per separarli dal bordo */
    font-size: 0.9em; /* Riduce la dimensione del font dei dettagli */
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(58, 88, 153);
}

button, select {
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    background: #bdbaae; /* Colore di sfondo del pulsante */
    color: rgb(58, 88, 153); /* Colore del testo del pulsante */
    cursor: pointer;
}

button:hover, select:hover {
    background: #a9a9a9; /* Colore di sfondo del pulsante quando il mouse passa sopra */
}
